body {
    background-color: #f8f9fa;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.navbar {
    box-shadow: 0 1px 3px #B1B6C1;
}

.nav-item i {
    margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #7d26cd;
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: #7d26cd;
    color: #FFC0CB;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:focus {
    background-color: #7d26cd;
    color: #FFC0CB;
    border-radius: 5px;
}

.navbar-brand img {
    width: 80px;
}

.navbar-light .navbar-toggler {
    border-color: #FFC0CB;
}

.navbar-toggler i {
    color: #7d26cd;
}

.bg-light {
    background-color: #ffffff!important;
}

h1 {
    font-weight: bold;
    color: #7d26cd;
}

p {
    padding-left: 5px;
    background-color: #7d26cd;
    color: #ffffff;
}

@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower);
.sticky {
    -webkit-box-shadow: #DDD 0px 1px 2px;
    position: relative;
    color: #47576B;
    text-align: center;
    margin: 2.5em 0px;
    padding: 1.5em 1em;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    width: 250px;
    font-family: 'Indie Flower', cursive;
}

span {
    font-size: 12px;
}

.rosa {
    background-color: #ff7992;
}

.vermelho {
    background-color: #FF6A6A;
}

.laranja {
    background-color: #fea94c;
}

.amarelo {
    background-color: #FFD700;
}

.verde {
    background-color: #d8f83d;
}

.azul {
    background-color: #7dd3c6;
}

.anil {
    background-color: #836FFF;
}

.roxo {
    background-color: #d899da;
}

.post-it {
    display: table;
    margin: 50px auto 0;
}

.taped {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.sticky.taped:after {
    display: block;
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    top: -21px;
    left: 30%;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
    -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
}

textarea {
    font-size: 12px;
}

#footer {
    margin-top: 50px;
    padding: 15px 0 15px 0;
    background-color: white;
    box-shadow: 0 1px 3px #B1B6C1;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #7d26cd;
}